<a href="https://colab.research.google.com/github/JoonYoung-Sohn/practice/blob/master/Disease%20Prediction/201224_data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 필요한 column 뽑아낸 T1, jk, gj dataset 중복 제거, 연도별 중복 column 병합

In [1]:
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

Mounted at /gdrive

In [4]:
import pandas as pd
t1=pd.read_csv('/gdrive/My Drive/Disease Prediction/02.T120/T1_filtered_v2.csv')
t1.head()

   PERSON_ID MAIN_SICK SUB_SICK  RECN  VSCN
0   99672344       I63      K70   1.0   1.0
1   99494563     S2230      NaN   4.0   1.0
2   99879986       E11      E78   1.0   1.0
3   99672344       I63      K70   2.0   2.0
4   99672344      G409     I639  22.0   8.0

In [3]:
jk=pd.read_csv('/gdrive/My Drive/Disease Prediction/01.jk/jk_filtered.csv')
jk.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0  STND_Y  PERSON_ID  ...  DTH_CODE2  DFAB_GRD_CD  DFAB_PTN_CD
0           0    2002   10000244  ...        NaN            0            0
1           1    2002   10000284  ...        NaN            0            0
2           2    2002   10000309  ...        NaN            0            0
3           3    2002   10000325  ...        NaN            0            0
4           4    2002   10000439  ...        NaN            0            0

[5 rows x 10 columns]

In [4]:
gj=pd.read_csv('/gdrive/My Drive/Disease Prediction/12.gj/gj_filtered.csv')
gj.head()

   Unnamed: 0  HCHK_YEAR  PERSON_ID  ...  KDSQ_C_4  KDSQ_C_5  HCHK_PHSS_PMH_YN
0           0       2002   10040729  ...       NaN       NaN               NaN
1           1       2002   10081483  ...       NaN       NaN               NaN
2           2       2002   10088025  ...       NaN       NaN               NaN
3           3       2002   10151226  ...       NaN       NaN               NaN
4           4       2002   10174763  ...       NaN       NaN               NaN

[5 rows x 57 columns]