<a href="https://colab.research.google.com/github/JoonYoung-Sohn/practice/blob/master/Disease%20Prediction/201227_dataprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

jk, gj, t1의 데이터셋 연도, 사람 별로 통합

DFAB 장애는 한번 정해지면 그 후년도도 반영되는걸로

In [1]:
from google.colab import drive
drive.mount('/gdrive', force_remount=True)
import pandas as pd

Mounted at /gdrive

In [2]:
jk=pd.read_csv('/gdrive/My Drive/Disease Prediction/01.jk/jk_clean.csv')
jk.head()

   Unnamed: 0  STND_Y  PERSON_ID  SEX  ...  DFAB_5  DFAB_6  DFAB_7  DFAB_9
0           0    2002   10000244    2  ...       0       0       0       0
1           1    2002   10000284    2  ...       0       0       0       0
2           2    2002   10000309    2  ...       0       0       0       0
3           3    2002   10000325    2  ...       0       0       0       0
4           4    2002   10000439    2  ...       0       0       0       0

[5 rows x 13 columns]

In [3]:
jk.columns

Index(['Unnamed: 0', 'STND_Y', 'PERSON_ID', 'SEX', 'AGE', 'DFAB_1', 'DFAB_2',
       'DFAB_3', 'DFAB_4', 'DFAB_5', 'DFAB_6', 'DFAB_7', 'DFAB_9'],
      dtype='object')

In [4]:
jk['HCHK_YEAR'] = jk['STND_Y']

In [5]:
jk = jk[['HCHK_YEAR', 'PERSON_ID', 'SEX', 'AGE', 'DFAB_1', 'DFAB_2',
       'DFAB_3', 'DFAB_4', 'DFAB_5', 'DFAB_6', 'DFAB_7', 'DFAB_9']]

In [6]:
gj=pd.read_csv('/gdrive/My Drive/Disease Prediction/12.gj/gj_clean.csv')
gj.head()

   Unnamed: 0  HCHK_YEAR  ...  HCHK_ETCDSE_PMH_YN  HCHK_PHSS_PMH_YN
0           0       2002  ...                 0.0               0.0
1           1       2002  ...                 0.0               0.0
2           2       2002  ...                 0.0               0.0
3           3       2002  ...                 0.0               0.0
4           4       2002  ...                 0.0               0.0

[5 rows x 31 columns]

In [7]:
gj.columns

Index(['Unnamed: 0', 'HCHK_YEAR', 'PERSON_ID', 'HEIGHT', 'WEIGHT', 'BP_HIGH',
       'BP_LWST', 'BLDS', 'TOT_CHOLE', 'HMG', 'OLIG_PROTE_CD', 'SGOT_AST',
       'SGPT_ALT', 'GAMMA_GTP', 'FMLY_HPRTS_PATIEN_YN', 'FMLY_APOP_PATIEN_YN',
       'FMLY_HDISE_PATIEN_YN', 'FMLY_DIABML_PATIEN_YN',
       'FMLY_CANCER_PATIEN_YN', 'SMK_STAT_TYPE_RSPS_CD', 'SMK_TERM_RSPS_CD',
       'DSQTY_RSPS_CD', 'DRNK_HABIT_RSPS_CD', 'TM1_DRKQTY_RSPS_CD',
       'HCHK_APOP_PMH_YN', 'HCHK_HDISE_PMH_YN', 'HCHK_HPRTS_PMH_YN',
       'HCHK_DIABML_PMH_YN', 'HCHK_HPLPDM_PMH_YN', 'HCHK_ETCDSE_PMH_YN',
       'HCHK_PHSS_PMH_YN'],
      dtype='object')

In [8]:
gj = gj[['HCHK_YEAR', 'PERSON_ID', 'HEIGHT', 'WEIGHT', 'BP_HIGH',
       'BP_LWST', 'BLDS', 'TOT_CHOLE', 'HMG', 'OLIG_PROTE_CD', 'SGOT_AST',
       'SGPT_ALT', 'GAMMA_GTP', 'FMLY_HPRTS_PATIEN_YN', 'FMLY_APOP_PATIEN_YN',
       'FMLY_HDISE_PATIEN_YN', 'FMLY_DIABML_PATIEN_YN',
       'FMLY_CANCER_PATIEN_YN', 'SMK_STAT_TYPE_RSPS_CD', 'SMK_TERM_RSPS_CD',
       'DSQTY_RSPS_CD', 'DRNK_HABIT_RSPS_CD', 'TM1_DRKQTY_RSPS_CD',
       'HCHK_APOP_PMH_YN', 'HCHK_HDISE_PMH_YN', 'HCHK_HPRTS_PMH_YN',
       'HCHK_DIABML_PMH_YN', 'HCHK_HPLPDM_PMH_YN', 'HCHK_ETCDSE_PMH_YN',
       'HCHK_PHSS_PMH_YN']]

In [9]:
print(len(jk))
print(len(gj))

5743773
1051937

In [10]:
total = pd.merge(gj,jk, on = "PERSON_ID")

In [11]:
total.head()

   HCHK_YEAR_x  PERSON_ID  HEIGHT  WEIGHT  ...  DFAB_5  DFAB_6  DFAB_7  DFAB_9
0         2002   10040729   143.0    46.0  ...       0       0       0       0
1         2002   10040729   143.0    46.0  ...       0       0       0       0
2         2002   10040729   143.0    46.0  ...       0       0       0       0
3         2002   10040729   143.0    46.0  ...       0       0       0       0
4         2002   10081483   133.0    33.0  ...       0       0       0       0

[5 rows x 41 columns]

In [12]:
len(total)

12288805

In [13]:
## session down

#t= total.drop(total.index[1])
#t.head()

In [15]:
remove_index=[]
for i in range(len(total)):
  if total['HCHK_YEAR_x'][i] != total['HCHK_YEAR_y'][i]:
    remove_index.append(i)
total_v2 = total.drop(total.index[remove_index])

In [16]:
total_v2.head()

    HCHK_YEAR_x  PERSON_ID  HEIGHT  WEIGHT  ...  DFAB_5  DFAB_6  DFAB_7  DFAB_9
0          2002   10040729   143.0    46.0  ...       0       0       0       0
4          2002   10081483   133.0    33.0  ...       0       0       0       0
16         2002   10088025   164.0    47.0  ...       0       0       0       0
21         2002   10151226   146.0    65.0  ...       0       0       0       0
33         2002   10174763   133.0    29.0  ...       0       0       0       0

[5 rows x 41 columns]

In [17]:
len(total_v2)

1051937

In [18]:
total_v2['YEAR'] = total_v2['HCHK_YEAR_x']

AttributeError: ignored

In [19]:
print(total_v2.columns)

Index(['HCHK_YEAR_x', 'PERSON_ID', 'HEIGHT', 'WEIGHT', 'BP_HIGH', 'BP_LWST',
       'BLDS', 'TOT_CHOLE', 'HMG', 'OLIG_PROTE_CD', 'SGOT_AST', 'SGPT_ALT',
       'GAMMA_GTP', 'FMLY_HPRTS_PATIEN_YN', 'FMLY_APOP_PATIEN_YN',
       'FMLY_HDISE_PATIEN_YN', 'FMLY_DIABML_PATIEN_YN',
       'FMLY_CANCER_PATIEN_YN', 'SMK_STAT_TYPE_RSPS_CD', 'SMK_TERM_RSPS_CD',
       'DSQTY_RSPS_CD', 'DRNK_HABIT_RSPS_CD', 'TM1_DRKQTY_RSPS_CD',
       'HCHK_APOP_PMH_YN', 'HCHK_HDISE_PMH_YN', 'HCHK_HPRTS_PMH_YN',
       'HCHK_DIABML_PMH_YN', 'HCHK_HPLPDM_PMH_YN', 'HCHK_ETCDSE_PMH_YN',
       'HCHK_PHSS_PMH_YN', 'HCHK_YEAR_y', 'SEX', 'AGE', 'DFAB_1', 'DFAB_2',
       'DFAB_3', 'DFAB_4', 'DFAB_5', 'DFAB_6', 'DFAB_7', 'DFAB_9', 'YEAR'],
      dtype='object')

In [20]:
total_v2=total_v2[['YEAR', 'SEX', 'AGE','PERSON_ID', 'HEIGHT', 'WEIGHT', 'BP_HIGH', 'BP_LWST',
       'BLDS', 'TOT_CHOLE', 'HMG', 'OLIG_PROTE_CD', 'SGOT_AST', 'SGPT_ALT',
       'GAMMA_GTP', 'FMLY_HPRTS_PATIEN_YN', 'FMLY_APOP_PATIEN_YN',
       'FMLY_HDISE_PATIEN_YN', 'FMLY_DIABML_PATIEN_YN',
       'FMLY_CANCER_PATIEN_YN', 'SMK_STAT_TYPE_RSPS_CD', 'SMK_TERM_RSPS_CD',
       'DSQTY_RSPS_CD', 'DRNK_HABIT_RSPS_CD', 'TM1_DRKQTY_RSPS_CD',
       'HCHK_APOP_PMH_YN', 'HCHK_HDISE_PMH_YN', 'HCHK_HPRTS_PMH_YN',
       'HCHK_DIABML_PMH_YN', 'HCHK_HPLPDM_PMH_YN', 'HCHK_ETCDSE_PMH_YN',
       'HCHK_PHSS_PMH_YN', 'DFAB_1', 'DFAB_2',
       'DFAB_3', 'DFAB_4', 'DFAB_5', 'DFAB_6', 'DFAB_7', 'DFAB_9']]

In [21]:
total_v2.isnull().sum()

YEAR                     0
SEX                      0
AGE                      0
PERSON_ID                0
HEIGHT                   0
WEIGHT                   0
BP_HIGH                  0
BP_LWST                  0
BLDS                     0
TOT_CHOLE                0
HMG                      0
OLIG_PROTE_CD            0
SGOT_AST                 0
SGPT_ALT                 0
GAMMA_GTP                0
FMLY_HPRTS_PATIEN_YN     0
FMLY_APOP_PATIEN_YN      0
FMLY_HDISE_PATIEN_YN     0
FMLY_DIABML_PATIEN_YN    0
FMLY_CANCER_PATIEN_YN    0
SMK_STAT_TYPE_RSPS_CD    0
SMK_TERM_RSPS_CD         0
DSQTY_RSPS_CD            0
DRNK_HABIT_RSPS_CD       0
TM1_DRKQTY_RSPS_CD       0
HCHK_APOP_PMH_YN         0
HCHK_HDISE_PMH_YN        0
HCHK_HPRTS_PMH_YN        0
HCHK_DIABML_PMH_YN       0
HCHK_HPLPDM_PMH_YN       0
HCHK_ETCDSE_PMH_YN       0
HCHK_PHSS_PMH_YN         0
DFAB_1                   0
DFAB_2                   0
DFAB_3                   0
DFAB_4                   0
DFAB_5                   0
DFAB_6                   0
DFAB_7                   0
DFAB_9                   0
dtype: int64

In [23]:
total_v2.to_csv('jk_gj_merge.csv', sep=',', na_rep='NaN')
from google.colab import files
files.download('jk_gj_merge.csv')