<a href="https://colab.research.google.com/github/JoonYoung-Sohn/practice/blob/master/Disease%20Prediction/201224_data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 필요한 column 뽑아낸 T1, jk, gj dataset 중복 제거, 연도별 중복 column 병합

In [1]:
from google.colab import drive
drive.mount('/gdrive', force_remount=True)
import pandas as pd

Mounted at /gdrive

In [2]:
t1=pd.read_csv('/gdrive/My Drive/Disease Prediction/02.T120/T1_filtered_v2.csv')
t1.head()

   PERSON_ID MAIN_SICK SUB_SICK  RECN  VSCN
0   99672344       I63      K70   1.0   1.0
1   99494563     S2230      NaN   4.0   1.0
2   99879986       E11      E78   1.0   1.0
3   99672344       I63      K70   2.0   2.0
4   99672344      G409     I639  22.0   8.0

In [6]:
print(len(t1))
len(t1['MAIN_SICK'].unique())

48646785

15124

In [4]:
jk=pd.read_csv('/gdrive/My Drive/Disease Prediction/01.jk/jk_filtered.csv')
jk.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0  STND_Y  PERSON_ID  ...  DTH_CODE2  DFAB_GRD_CD  DFAB_PTN_CD
0           0    2002   10000244  ...        NaN            0            0
1           1    2002   10000284  ...        NaN            0            0
2           2    2002   10000309  ...        NaN            0            0
3           3    2002   10000325  ...        NaN            0            0
4           4    2002   10000439  ...        NaN            0            0

[5 rows x 10 columns]

In [5]:
len(jk['DTH_CODE1'].unique())

548

In [6]:
jk['DTH_CODE1'].unique()[:10]

array([nan, 'R54', 'F00-F09', 'I64', 'I50', 'J18', 'N18', 'E14', 'I69',
       'M80'], dtype=object)

In [2]:
gj=pd.read_csv('/gdrive/My Drive/Disease Prediction/12.gj/gj_filtered.csv')
gj.head()

   Unnamed: 0  HCHK_YEAR  PERSON_ID  ...  KDSQ_C_4  KDSQ_C_5  HCHK_PHSS_PMH_YN
0           0       2002   10040729  ...       NaN       NaN               NaN
1           1       2002   10081483  ...       NaN       NaN               NaN
2           2       2002   10088025  ...       NaN       NaN               NaN
3           3       2002   10151226  ...       NaN       NaN               NaN
4           4       2002   10174763  ...       NaN       NaN               NaN

[5 rows x 57 columns]

In [3]:
## replace HCHK(~2008) to HCHK(2009~)
import sys
import numpy as np
HCHK_replace_dic = {1:'HCHK_PHSS_PMH_YN',2:'HCHK_ETCDSE_PMH_YN',3:'HCHK_ETCDSE_PMH_YN',4:'HCHK_HPRTS_PMH_YN',5:'HCHK_HDISE_PMH_YN',6:'HCHK_APOP_PMH_YN',7:'HCHK_DIABML_PMH_YN',8:'HCHK_ETCDSE_PMH_YN',9:'HCHK_ETCDSE_PMH_YN'}
for n in range(3):
  for i in range(len(gj)):
    j = gj['HCHK_PMH_CD'+str(int(1+n))][i] ## j = 1~9,nan
    if j in HCHK_replace_dic:
      #print(j)
      #print(gj[HCHK_replace_dic[j]][i])
      #sys.exit()
      gj[HCHK_replace_dic[j]][i] = 1 ## if j==4 -> 'HCHK_HPRTS_PMH_YN' = 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [57]:
gj.head()

   Unnamed: 0  HCHK_YEAR  PERSON_ID  ...  KDSQ_C_4  KDSQ_C_5  HCHK_PHSS_PMH_YN
0           0       2002   10040729  ...       NaN       NaN               NaN
1           1       2002   10081483  ...       NaN       NaN               NaN
2           2       2002   10088025  ...       NaN       NaN               NaN
3           3       2002   10151226  ...       NaN       NaN               NaN
4           4       2002   10174763  ...       NaN       NaN               NaN

[5 rows x 57 columns]

In [4]:
## replace GLY_CD, OLIG_OCCU_CD, OLIG_PROTE_CD (~2008) max to OLIG_PROTE_CD (2009~)
for i in range(len(gj)):
  gj['OLIG_PROTE_CD'][i] = max(gj['GLY_CD'][i], gj['OLIG_OCCU_CD'][i], gj['OLIG_PROTE_CD'][i])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [60]:
print(gj['PAST_DSQTY_RSPS_CD'].unique())

[nan  3. 10. 40. 20.  5. 30. 15. 60.  7.  1.  2.  6.  4. 25.  8. 18. 11.
 50. 70. 12. 35. 14. 24.  9. 48. 17. 21. 13. 54. 19. 16. 80. 45. 29. 23.
 22. 26. 28. 90. 65. 43. 32. 42. 37. 75. 36. 55. 69. 33. 44. 46. 38. 27.]

In [5]:
## PAST_SMK_TERM_RSPS_CD, CUR_SMK_TERM_RSPS_CD to SMK_TERM_RSPS_CD
for i in range(len(gj)):
  if gj['CUR_SMK_TERM_RSPS_CD'][i] > 0:
    gj['SMK_TERM_RSPS_CD'][i] = gj['CUR_SMK_TERM_RSPS_CD'][i]
  else:
    if gj['PAST_SMK_TERM_RSPS_CD'][i] > 0:
      gj['SMK_TERM_RSPS_CD'][i] = gj['PAST_SMK_TERM_RSPS_CD'][i]
    else:
      pass

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [72]:
gj['SMK_TERM_RSPS_CD'].isnull()

0           True
1           True
2          False
3           True
4           True
           ...
1091177     True
1091178     True
1091179     True
1091180     True
1091181    False
Name: SMK_TERM_RSPS_CD, Length: 1091182, dtype: bool

In [6]:
## SMK_TERM_RSPS_CD NaN to 0
for i in range(len(gj)):
  if not gj['SMK_TERM_RSPS_CD'][i] > 0:
    gj['SMK_TERM_RSPS_CD'][i] = 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [7]:
## PAST_DSQTY_RSPS_CD, CUR_DSQTY_RSPS_CD to DSQTY_RSPS_CD
def change(x): ## 개비 -> 갑
  if x < 10:
    result = 1
  elif x < 20:
    result = 2
  elif x < 40:
    result = 3
  else:
    result = 4
  return result

for i in range(len(gj)):
  if gj['CUR_DSQTY_RSPS_CD'][i] > 0:
    gj['DSQTY_RSPS_CD'][i] = change(gj['CUR_DSQTY_RSPS_CD'][i])
  else:
    if gj['PAST_DSQTY_RSPS_CD'][i] > 0:
      gj['DSQTY_RSPS_CD'][i] = change(gj['PAST_DSQTY_RSPS_CD'][i])
    else:
      pass

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
## DSQTY_RSPS_CD NaN to 0
for i in range(len(gj)):
  if not gj['DSQTY_RSPS_CD'][i] > 0:
    gj['DSQTY_RSPS_CD'][i] = 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [9]:
## change DRNK_HABIT_RSPS_CD(2009~)
change_dic = {1:1,2:2,3:3,4:4,5:4,6:5,7:5,8:5}
for i in range(len(gj)):
  if gj['HCHK_YEAR'][i] > 2008:
    if gj['DRNK_HABIT_RSPS_CD'][i] in change_dic:
      gj['DRNK_HABIT_RSPS_CD'][i] = change_dic[gj['DRNK_HABIT_RSPS_CD'][i]]
    else:
      gj['DRNK_HABIT_RSPS_CD'][i] = 3 ## average

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
## change TM1_DRKQTY_RSPS_CD(2009~)
def change(x): ## 잔 -> 병
  if x <= 3.5:
    result = 1
  elif x <= 7:
    result = 2
  elif x <= 10.5:
    result = 3
  else:
    result = 4
  return result

for i in range(len(gj)):
  if gj['HCHK_YEAR'][i] > 2008:
    if gj['DRNK_HABIT_RSPS_CD'][i] > 0:
      gj['DRNK_HABIT_RSPS_CD'][i] = change(gj['DRNK_HABIT_RSPS_CD'][i])
    else:
      gj['DRNK_HABIT_RSPS_CD'][i] = 2 ## average

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [11]:
## MOV20_WEK_FREQ_ID,MOV30_WEK_FREQ_ID,WLK30_WEK_FREQ_ID average to EXERCI_FREQ_RSPS_CD
def change(x): ## average and change, x is list
  total = 0
  for mov in x:
    total += (mov-1)
  avg = total/len(x)
  if avg < 0.5:
    result = 1
  elif avg < 2.5:
    result = 2
  elif avg < 4.5:
    result = 3
  elif avg < 6.5:
    result = 4
  else:
    result = 5

for i in range(len(gj)):
  if gj['HCHK_YEAR'][i] > 2008:
    if not gj['MOV20_WEK_FREQ_ID'][i] > 0:
      gj['MOV20_WEK_FREQ_ID'][i] = 2
    if not gj['MOV30_WEK_FREQ_ID'][i] > 0:
      gj['MOV20_WEK_FREQ_ID'][i] = 2
    if not gj['WLK30_WEK_FREQ_ID'][i] > 0:
      gj['MOV20_WEK_FREQ_ID'][i] = 2
    gj['EXERCI_FREQ_RSPS_CD'][i] = change([gj['MOV20_WEK_FREQ_ID'][i],gj['MOV30_WEK_FREQ_ID'][i],gj['WLK30_WEK_FREQ_ID'][i]])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
##가족력 ~2008을 2009~ 기준으로
for i in range(len(gj)):
  if gj['HCHK_YEAR'][i] < 2009:
    for dis in ['FMLY_HPRTS_PATIEN_YN','FMLY_APOP_PATIEN_YN','FMLY_HDISE_PATIEN_YN','FMLY_DIABML_PATIEN_YN','FMLY_CANCER_PATIEN_YN']:
      if not gj[dis][i] > 0:
        gj[dis][i] = 1
      gj[dis][i] -= 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [92]:
print(gj.columns)

Index(['Unnamed: 0', 'HCHK_YEAR', 'PERSON_ID', 'HEIGHT', 'WEIGHT', 'BP_HIGH',
       'BP_LWST', 'BLDS', 'TOT_CHOLE', 'HMG', 'GLY_CD', 'OLIG_OCCU_CD',
       'OLIG_PH', 'OLIG_PROTE_CD', 'SGOT_AST', 'SGPT_ALT', 'GAMMA_GTP',
       'HCHK_PMH_CD1', 'HCHK_PMH_CD2', 'HCHK_PMH_CD3',
       'FMLY_LIVER_DISE_PATIEN_YN', 'FMLY_HPRTS_PATIEN_YN',
       'FMLY_APOP_PATIEN_YN', 'FMLY_HDISE_PATIEN_YN', 'FMLY_DIABML_PATIEN_YN',
       'FMLY_CANCER_PATIEN_YN', 'SMK_STAT_TYPE_RSPS_CD', 'SMK_TERM_RSPS_CD',
       'DSQTY_RSPS_CD', 'DRNK_HABIT_RSPS_CD', 'TM1_DRKQTY_RSPS_CD',
       'EXERCI_FREQ_RSPS_CD', 'WAIST', 'TRIGLYCERIDE', 'HDL_CHOLE',
       'LDL_CHOLE', 'CREATININE', 'HCHK_APOP_PMH_YN', 'HCHK_HDISE_PMH_YN',
       'HCHK_HPRTS_PMH_YN', 'HCHK_DIABML_PMH_YN', 'HCHK_HPLPDM_PMH_YN',
       'HCHK_ETCDSE_PMH_YN', 'PAST_SMK_TERM_RSPS_CD', 'PAST_DSQTY_RSPS_CD',
       'CUR_SMK_TERM_RSPS_CD', 'CUR_DSQTY_RSPS_CD', 'MOV20_WEK_FREQ_ID',
       'MOV30_WEK_FREQ_ID', 'WLK30_WEK_FREQ_ID', 'KDSQ_C', 'KDSQ_C_1',
       'KDSQ_C_2', 'KDSQ_C_3', 'KDSQ_C_4', 'KDSQ_C_5', 'HCHK_PHSS_PMH_YN'],
      dtype='object')

In [13]:
gj_v2 = gj[['HCHK_YEAR', 'PERSON_ID', 'HEIGHT', 'WEIGHT', 'BP_HIGH',
       'BP_LWST', 'BLDS', 'TOT_CHOLE', 'HMG', 'OLIG_PROTE_CD', 'SGOT_AST', 'SGPT_ALT', 'GAMMA_GTP', 'FMLY_HPRTS_PATIEN_YN',
       'FMLY_APOP_PATIEN_YN', 'FMLY_HDISE_PATIEN_YN', 'FMLY_DIABML_PATIEN_YN',
       'FMLY_CANCER_PATIEN_YN', 'SMK_STAT_TYPE_RSPS_CD', 'SMK_TERM_RSPS_CD',
       'DSQTY_RSPS_CD', 'DRNK_HABIT_RSPS_CD', 'TM1_DRKQTY_RSPS_CD',
       'EXERCI_FREQ_RSPS_CD', 'HCHK_APOP_PMH_YN', 'HCHK_HDISE_PMH_YN',
       'HCHK_HPRTS_PMH_YN', 'HCHK_DIABML_PMH_YN', 'HCHK_HPLPDM_PMH_YN',
       'HCHK_ETCDSE_PMH_YN', 'HCHK_PHSS_PMH_YN']]

In [94]:
gj_v2.head()

   HCHK_YEAR  PERSON_ID  ...  HCHK_ETCDSE_PMH_YN  HCHK_PHSS_PMH_YN
0       2002   10040729  ...                 NaN               NaN
1       2002   10081483  ...                 NaN               NaN
2       2002   10088025  ...                 NaN               NaN
3       2002   10151226  ...                 NaN               NaN
4       2002   10174763  ...                 NaN               NaN

[5 rows x 31 columns]

In [14]:
## replace NaN to 2
for i in range(len(gj)):
  if not gj_v2['TM1_DRKQTY_RSPS_CD'][i] > 0:
    gj_v2['TM1_DRKQTY_RSPS_CD'][i] = 2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [15]:
## replace NaN to 0 in past disease
dis = ['HCHK_APOP_PMH_YN', 'HCHK_HDISE_PMH_YN', 'HCHK_HPRTS_PMH_YN', 'HCHK_DIABML_PMH_YN', 'HCHK_HPLPDM_PMH_YN', 'HCHK_ETCDSE_PMH_YN', 'HCHK_PHSS_PMH_YN']
for i in range(len(gj)):
  for d in dis:
    if not gj_v2[d][i] > 0:
      gj_v2[d][i] = 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [97]:
gj_v2.head()

   HCHK_YEAR  PERSON_ID  ...  HCHK_ETCDSE_PMH_YN  HCHK_PHSS_PMH_YN
0       2002   10040729  ...                 0.0               0.0
1       2002   10081483  ...                 0.0               0.0
2       2002   10088025  ...                 0.0               0.0
3       2002   10151226  ...                 0.0               0.0
4       2002   10174763  ...                 0.0               0.0

[5 rows x 31 columns]

In [100]:
pd.isnull(gj_v2)

         HCHK_YEAR  PERSON_ID  ...  HCHK_ETCDSE_PMH_YN  HCHK_PHSS_PMH_YN
0            False      False  ...               False             False
1            False      False  ...               False             False
2            False      False  ...               False             False
3            False      False  ...               False             False
4            False      False  ...               False             False
...            ...        ...  ...                 ...               ...
1091177      False      False  ...               False             False
1091178      False      False  ...               False             False
1091179      False      False  ...               False             False
1091180      False      False  ...               False             False
1091181      False      False  ...               False             False

[1091182 rows x 31 columns]

In [16]:
for i in range(len(gj)):
  if not gj_v2['OLIG_PROTE_CD'][i] > 0:
    gj_v2['OLIG_PROTE_CD'][i] = 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [17]:
def check_null(df):
  for col in df.columns:
    if len((pd.isnull(df[col]).unique())) !=1:
      print(col,pd.isnull(df[col]).unique())

In [18]:
check_null(gj_v2)

HEIGHT [False  True]
WEIGHT [False  True]
BP_HIGH [False  True]
BP_LWST [False  True]
BLDS [False  True]
TOT_CHOLE [False  True]
HMG [False  True]
SGOT_AST [False  True]
SGPT_ALT [False  True]
GAMMA_GTP [False  True]
FMLY_HPRTS_PATIEN_YN [False  True]
FMLY_APOP_PATIEN_YN [False  True]
FMLY_HDISE_PATIEN_YN [False  True]
FMLY_DIABML_PATIEN_YN [False  True]
FMLY_CANCER_PATIEN_YN [False  True]
SMK_STAT_TYPE_RSPS_CD [False  True]
DRNK_HABIT_RSPS_CD [False  True]
EXERCI_FREQ_RSPS_CD [False  True]

In [19]:
gj_v2.isnull().sum()

HCHK_YEAR                     0
PERSON_ID                     0
HEIGHT                     1064
WEIGHT                     1066
BP_HIGH                     611
BP_LWST                     643
BLDS                       1213
TOT_CHOLE                  1570
HMG                        1210
OLIG_PROTE_CD                 0
SGOT_AST                   1345
SGPT_ALT                   1337
GAMMA_GTP                  1161
FMLY_HPRTS_PATIEN_YN     216631
FMLY_APOP_PATIEN_YN      220085
FMLY_HDISE_PATIEN_YN     223089
FMLY_DIABML_PATIEN_YN    220075
FMLY_CANCER_PATIEN_YN    216808
SMK_STAT_TYPE_RSPS_CD     34108
SMK_TERM_RSPS_CD              0
DSQTY_RSPS_CD                 0
DRNK_HABIT_RSPS_CD        13891
TM1_DRKQTY_RSPS_CD            0
EXERCI_FREQ_RSPS_CD      520385
HCHK_APOP_PMH_YN              0
HCHK_HDISE_PMH_YN             0
HCHK_HPRTS_PMH_YN             0
HCHK_DIABML_PMH_YN            0
HCHK_HPLPDM_PMH_YN            0
HCHK_ETCDSE_PMH_YN            0
HCHK_PHSS_PMH_YN              0
dtype: int64

In [20]:
gj_v2.isnull().sum()/len(gj_v2)*100

HCHK_YEAR                 0.000000
PERSON_ID                 0.000000
HEIGHT                    0.097509
WEIGHT                    0.097692
BP_HIGH                   0.055994
BP_LWST                   0.058927
BLDS                      0.111164
TOT_CHOLE                 0.143881
HMG                       0.110889
OLIG_PROTE_CD             0.000000
SGOT_AST                  0.123261
SGPT_ALT                  0.122528
GAMMA_GTP                 0.106398
FMLY_HPRTS_PATIEN_YN     19.852875
FMLY_APOP_PATIEN_YN      20.169413
FMLY_HDISE_PATIEN_YN     20.444710
FMLY_DIABML_PATIEN_YN    20.168496
FMLY_CANCER_PATIEN_YN    19.869096
SMK_STAT_TYPE_RSPS_CD     3.125785
SMK_TERM_RSPS_CD          0.000000
DSQTY_RSPS_CD             0.000000
DRNK_HABIT_RSPS_CD        1.273023
TM1_DRKQTY_RSPS_CD        0.000000
EXERCI_FREQ_RSPS_CD      47.690028
HCHK_APOP_PMH_YN          0.000000
HCHK_HDISE_PMH_YN         0.000000
HCHK_HPRTS_PMH_YN         0.000000
HCHK_DIABML_PMH_YN        0.000000
HCHK_HPLPDM_PMH_YN        0.000000
HCHK_ETCDSE_PMH_YN        0.000000
HCHK_PHSS_PMH_YN          0.000000
dtype: float64

In [21]:
## replace NaN to 0 in Family disease
dis = ['FMLY_HPRTS_PATIEN_YN', 'FMLY_APOP_PATIEN_YN', 'FMLY_HDISE_PATIEN_YN', 'FMLY_DIABML_PATIEN_YN', 'FMLY_CANCER_PATIEN_YN']
for i in range(len(gj)):
  for d in dis:
    if not gj_v2[d][i] > 0:
      gj_v2[d][i] = 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [22]:
## remove exercise column
gj_v2 = gj_v2[['HCHK_YEAR', 'PERSON_ID', 'HEIGHT', 'WEIGHT', 'BP_HIGH',
       'BP_LWST', 'BLDS', 'TOT_CHOLE', 'HMG', 'OLIG_PROTE_CD', 'SGOT_AST', 'SGPT_ALT', 'GAMMA_GTP', 'FMLY_HPRTS_PATIEN_YN',
       'FMLY_APOP_PATIEN_YN', 'FMLY_HDISE_PATIEN_YN', 'FMLY_DIABML_PATIEN_YN',
       'FMLY_CANCER_PATIEN_YN', 'SMK_STAT_TYPE_RSPS_CD', 'SMK_TERM_RSPS_CD',
       'DSQTY_RSPS_CD', 'DRNK_HABIT_RSPS_CD', 'TM1_DRKQTY_RSPS_CD',
       'HCHK_APOP_PMH_YN', 'HCHK_HDISE_PMH_YN',
       'HCHK_HPRTS_PMH_YN', 'HCHK_DIABML_PMH_YN', 'HCHK_HPLPDM_PMH_YN',
       'HCHK_ETCDSE_PMH_YN', 'HCHK_PHSS_PMH_YN']]

In [23]:
## remove row with NaN
gj_v3 = gj_v2.dropna(axis=0)

In [24]:
check_null(gj_v3)

In [25]:
from google.colab import files
gj_v3.to_csv('gj_clean.csv', sep=',', na_rep='NaN')
files.download('gj_clean.csv')

In [42]:
jk=pd.read_csv('/gdrive/My Drive/Disease Prediction/01.jk/jk_filtered.csv')
jk.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0  STND_Y  PERSON_ID  ...  DTH_CODE2  DFAB_GRD_CD  DFAB_PTN_CD
0           0    2002   10000244  ...        NaN            0            0
1           1    2002   10000284  ...        NaN            0            0
2           2    2002   10000309  ...        NaN            0            0
3           3    2002   10000325  ...        NaN            0            0
4           4    2002   10000439  ...        NaN            0            0

[5 rows x 10 columns]

In [28]:
jk.columns

Index(['Unnamed: 0', 'STND_Y', 'PERSON_ID', 'SEX', 'AGE', 'DTH_MDY',
       'DTH_CODE1', 'DTH_CODE2', 'DFAB_GRD_CD', 'DFAB_PTN_CD'],
      dtype='object')

In [44]:
jk = jk[['STND_Y', 'PERSON_ID', 'SEX', 'AGE', 'DFAB_GRD_CD', 'DFAB_PTN_CD']]

In [45]:
jk.head()

   STND_Y  PERSON_ID  SEX    AGE  DFAB_GRD_CD  DFAB_PTN_CD
0    2002   10000244    2  102.0            0            0
1    2002   10000284    2  102.0            0            0
2    2002   10000309    2  102.0            0            0
3    2002   10000325    2  102.0            0            0
4    2002   10000439    2  102.0            0            0

In [34]:
jk.isnull().sum()

STND_Y         0
PERSON_ID      0
SEX            0
AGE            0
DFAB_GRD_CD    0
DFAB_PTN_CD    0
dtype: int64

In [39]:
jk['PERSON_ID'].isnull().sum()

0

In [35]:
jk['DFAB_PTN_CD'].unique()

array([0, 1, 4, 5, 2, 3, 9, 6, 7])

In [49]:
jk['DFAB_1']=0
jk['DFAB_2']=0
jk['DFAB_3']=0
jk['DFAB_4']=0
jk['DFAB_5']=0
jk['DFAB_6']=0
jk['DFAB_7']=0
jk['DFAB_9']=0

In [38]:
jk.duplicated().sum()

0

In [50]:
for i in range(len(jk)):
  if jk['DFAB_GRD_CD'][i] != 0:
    jk['DFAB_'+str(jk['DFAB_PTN_CD'][i])][i] = float(1/jk['DFAB_GRD_CD'][i])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [51]:
jk.head()

   STND_Y  PERSON_ID  SEX    AGE  ...  DFAB_5  DFAB_6  DFAB_7  DFAB_9
0    2002   10000244    2  102.0  ...       0       0       0       0
1    2002   10000284    2  102.0  ...       0       0       0       0
2    2002   10000309    2  102.0  ...       0       0       0       0
3    2002   10000325    2  102.0  ...       0       0       0       0
4    2002   10000439    2  102.0  ...       0       0       0       0

[5 rows x 14 columns]

In [52]:
jk.columns

Index(['STND_Y', 'PERSON_ID', 'SEX', 'AGE', 'DFAB_GRD_CD', 'DFAB_PTN_CD',
       'DFAB_1', 'DFAB_2', 'DFAB_3', 'DFAB_4', 'DFAB_5', 'DFAB_6', 'DFAB_7',
       'DFAB_9'],
      dtype='object')

In [53]:
jk = jk[['STND_Y', 'PERSON_ID', 'SEX', 'AGE',
       'DFAB_1', 'DFAB_2', 'DFAB_3', 'DFAB_4', 'DFAB_5', 'DFAB_6', 'DFAB_7',
       'DFAB_9']]

In [54]:
jk.head()

   STND_Y  PERSON_ID  SEX    AGE  ...  DFAB_5  DFAB_6  DFAB_7  DFAB_9
0    2002   10000244    2  102.0  ...       0       0       0       0
1    2002   10000284    2  102.0  ...       0       0       0       0
2    2002   10000309    2  102.0  ...       0       0       0       0
3    2002   10000325    2  102.0  ...       0       0       0       0
4    2002   10000439    2  102.0  ...       0       0       0       0

[5 rows x 12 columns]

In [55]:
jk.tail()

         STND_Y  PERSON_ID  SEX    AGE  ...  DFAB_5  DFAB_6  DFAB_7  DFAB_9
5743768    2013   99986977    2  122.0  ...       0       0       0       0
5743769    2013   99987991    2  120.0  ...       0       0       0       0
5743770    2013   99988001    2  119.0  ...       0       0       0       0
5743771    2013   99989723    2  116.0  ...       0       0       0       0
5743772    2013   99989993    2  116.0  ...       0       0       0       0

[5 rows x 12 columns]

In [57]:
from google.colab import files
jk.to_csv('jk_clean.csv', sep=',', na_rep='NaN')
files.download('jk_clean.csv')

In [58]:
t1=pd.read_csv('/gdrive/My Drive/Disease Prediction/02.T120/T1_filtered_v2.csv')
t1.head()

   PERSON_ID MAIN_SICK SUB_SICK  RECN  VSCN
0   99672344       I63      K70   1.0   1.0
1   99494563     S2230      NaN   4.0   1.0
2   99879986       E11      E78   1.0   1.0
3   99672344       I63      K70   2.0   2.0
4   99672344      G409     I639  22.0   8.0

In [59]:
check_null(t1)

MAIN_SICK [False  True]
SUB_SICK [False  True]

In [60]:
t1.columns

Index(['PERSON_ID', 'MAIN_SICK', 'SUB_SICK', 'RECN', 'VSCN'], dtype='object')

In [61]:
t1 = t1[['PERSON_ID', 'MAIN_SICK', 'SUB_SICK']]