<a href="https://colab.research.google.com/github/JoonYoung-Sohn/practice/blob/master/Disease%20Prediction/201223_data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

Mounted at /gdrive

In [3]:
pip install sas7bdat_converter

Requirement already satisfied: sas7bdat_converter in /usr/local/lib/python3.6/dist-packages (0.7.4)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from sas7bdat_converter) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas<2.0.0,>=1.0.0->sas7bdat_converter) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas<2.0.0,>=1.0.0->sas7bdat_converter) (1.19.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas<2.0.0,>=1.0.0->sas7bdat_converter) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.0.0->sas7bdat_converter) (1.15.0)

In [4]:
pip install sas7bdat_converter[excel]

Requirement already satisfied: sas7bdat_converter[excel] in /usr/local/lib/python3.6/dist-packages (0.7.4)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from sas7bdat_converter[excel]) (1.1.5)
Requirement already satisfied: openpyxl<4.0.0,>=3.0.5; extra == "excel" in /usr/local/lib/python3.6/dist-packages (from sas7bdat_converter[excel]) (3.0.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas<2.0.0,>=1.0.0->sas7bdat_converter[excel]) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas<2.0.0,>=1.0.0->sas7bdat_converter[excel]) (1.19.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas<2.0.0,>=1.0.0->sas7bdat_converter[excel]) (2.8.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl<4.0.0,>=3.0.5; extra == "excel"->sas7bdat_converter[excel]) (1.0.1)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl<4.0.0,>=3.0.5; extra == "excel"->sas7bdat_converter[excel]) (1.4.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.0.0->sas7bdat_converter[excel]) (1.15.0)

In [5]:
import sas7bdat_converter

In [ ]:
file_dicts = [
  {
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/01.jk/nhis_senior_jk_2002.sas7bdat',
    'export_file': 'nhis_senior_jk_2002.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/01.jk/nhis_senior_jk_2003.sas7bdat',
    'export_file': 'nhis_senior_jk_2003.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/01.jk/nhis_senior_jk_2004.sas7bdat',
    'export_file': 'nhis_senior_jk_2004.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/01.jk/nhis_senior_jk_2005.sas7bdat',
    'export_file': 'nhis_senior_jk_2005.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/01.jk/nhis_senior_jk_2006.sas7bdat',
    'export_file': 'nhis_senior_jk_2006.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/01.jk/nhis_senior_jk_2007.sas7bdat',
    'export_file': 'nhis_senior_jk_2007.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/01.jk/nhis_senior_jk_2008.sas7bdat',
    'export_file': 'nhis_senior_jk_2008.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/01.jk/nhis_senior_jk_2009.sas7bdat',
    'export_file': 'nhis_senior_jk_2009.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/01.jk/nhis_senior_jk_2010.sas7bdat',
    'export_file': 'nhis_senior_jk_2010.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/01.jk/nhis_senior_jk_2011.sas7bdat',
    'export_file': 'nhis_senior_jk_2011.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/01.jk/nhis_senior_jk_2012.sas7bdat',
    'export_file': 'nhis_senior_jk_2012.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/01.jk/nhis_senior_jk_2013.sas7bdat',
    'export_file': 'nhis_senior_jk_2013.csv'
  }
]
sas7bdat_converter.batch_to_csv(file_dicts)

2020-12-23 04:26:33,699: INFO: NumExpr defaulting to 2 threads.

In [ ]:
import pandas as pd
df=pd.read_csv('nhis_senior_jk_2011.csv')
df.head()

   STND_Y  PERSON_ID  SEX  ...  DFAB_GRD_CD  DFAB_PTN_CD DFAB_REG_YM
0    2011   10000309    2  ...            0            0         NaN
1    2011   10004723    2  ...            0            0         NaN
2    2011   10008517    2  ...            0            0         NaN
3    2011   10010003    2  ...            0            0         NaN
4    2011   10011495    2  ...            0            0         NaN

[5 rows x 13 columns]

In [ ]:
jk2=pd.read_csv('nhis_senior_jk_2002.csv')
jk3=pd.read_csv('nhis_senior_jk_2003.csv')
jk4=pd.read_csv('nhis_senior_jk_2004.csv')
jk5=pd.read_csv('nhis_senior_jk_2005.csv')
jk6=pd.read_csv('nhis_senior_jk_2006.csv')
jk7=pd.read_csv('nhis_senior_jk_2007.csv')
jk8=pd.read_csv('nhis_senior_jk_2008.csv')
jk9=pd.read_csv('nhis_senior_jk_2009.csv')
jk10=pd.read_csv('nhis_senior_jk_2010.csv')
jk11=pd.read_csv('nhis_senior_jk_2011.csv')
jk12=pd.read_csv('nhis_senior_jk_2012.csv')
jk13=pd.read_csv('nhis_senior_jk_2013.csv')

In [ ]:
jk_total = pd.concat([jk2,jk3,jk4,jk5,jk6,jk7,jk8,jk9,jk10,jk11,jk12,jk13])
print(jk_total)

        STND_Y  PERSON_ID  SEX  ...  DFAB_GRD_CD  DFAB_PTN_CD DFAB_REG_YM
0         2002   10000244    2  ...            0            0         NaN
1         2002   10000284    2  ...            0            0         NaN
2         2002   10000309    2  ...            0            0         NaN
3         2002   10000325    2  ...            0            0         NaN
4         2002   10000439    2  ...            0            0         NaN
...        ...        ...  ...  ...          ...          ...         ...
388488    2013   99986977    2  ...            0            0         NaN
388489    2013   99987991    2  ...            0            0         NaN
388490    2013   99988001    2  ...            0            0         NaN
388491    2013   99989723    2  ...            0            0         NaN
388492    2013   99989993    2  ...            0            0         NaN

[5743773 rows x 13 columns]

In [ ]:
print('열의 개수: ',len(jk_total.columns))
print(jk_total.columns)

열의 개수:  13
Index(['STND_Y', 'PERSON_ID', 'SEX', 'AGE', 'DTH_MDY', 'DTH_CODE1',
       'DTH_CODE2', 'SIDO', 'IPSN_TYPE_CD', 'CTRB_PT_TYPE_CD', 'DFAB_GRD_CD',
       'DFAB_PTN_CD', 'DFAB_REG_YM'],
      dtype='object')

In [ ]:
jk_filtered = jk_total[['STND_Y', 'PERSON_ID', 'SEX', 'AGE', 'DTH_MDY', 'DTH_CODE1',
       'DTH_CODE2', 'DFAB_GRD_CD',
       'DFAB_PTN_CD']]

In [ ]:
jk_filtered.head()

   STND_Y  PERSON_ID  SEX    AGE  ...  DTH_CODE1 DTH_CODE2 DFAB_GRD_CD  DFAB_PTN_CD
0    2002   10000244    2  102.0  ...        NaN       NaN           0            0
1    2002   10000284    2  102.0  ...        NaN       NaN           0            0
2    2002   10000309    2  102.0  ...        NaN       NaN           0            0
3    2002   10000325    2  102.0  ...        NaN       NaN           0            0
4    2002   10000439    2  102.0  ...        NaN       NaN           0            0

[5 rows x 9 columns]

In [ ]:
from google.colab import files
jk_filtered.to_csv('jk_filtered.csv', sep=',', na_rep='NaN')
files.download('jk_filtered.csv')

In [ ]:
file_dicts = [
  {
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/02.T120/nhis_senior_gy20_t1_2003.sas7bdat',
    'export_file': 'nhis_senior_gy20_t1_2003.csv'
    }
]
sas7bdat_converter.batch_to_csv(file_dicts)

In [7]:
import pandas as pd
t2=pd.read_csv('nhis_senior_gy20_t1_2003.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
print('열의 개수: ',len(t2.columns))
print(t2.columns)
t2

열의 개수:  20
Index(['PERSON_ID', 'KEY_SEQ', 'YKIHO_ID', 'RECU_FR_DT', 'FORM_CD', 'DSBJT_CD',
       'MAIN_SICK', 'SUB_SICK', 'IN_PAT_CORS_TYPE', 'RECN', 'VSCN',
       'FST_IN_PAT_DT', 'EDEC_ADD_RT', 'EDEC_TRAMT', 'EDEC_SBRDN_AMT',
       'EDEC_JBRDN_AMT', 'EDEC_CT_TOT_AMT', 'EDEC_MRI_TOT_AMT', 'DMD_DRG_NO',
       'TOT_PRES_DD_CNT'],
      dtype='object')

         PERSON_ID       KEY_SEQ  ...  DMD_DRG_NO  TOT_PRES_DD_CNT
0         99672344  200208814812  ...      010150             14.0
1         99494563  200206150143  ...      041010              0.0
2         99879986  200204167768  ...      102940             30.0
3         99672344  200207891868  ...      010150             14.0
4         99672344  200206986805  ...      010150             14.0
...            ...           ...  ...         ...              ...
5146299   81224736  200210249456  ...       82430              0.0
5146300   67073090  200210249454  ...       51340             30.0
5146301   67073090  200210537917  ...       51340             30.0
5146302   67073090  200210250329  ...       51340             30.0
5146303   67073090  200210249795  ...       51340             30.0

[5146304 rows x 20 columns]

In [8]:
t2 = t2[['PERSON_ID', 'MAIN_SICK', 'SUB_SICK', 'RECN', 'VSCN']]

In [9]:
t2

         PERSON_ID MAIN_SICK SUB_SICK  RECN  VSCN
0         99672344       I63      K70   1.0   1.0
1         99494563     S2230      NaN   4.0   1.0
2         99879986       E11      E78   1.0   1.0
3         99672344       I63      K70   1.0   1.0
4         99672344       I63      K70   1.0   1.0
...            ...       ...      ...   ...   ...
5146299   81224736      M545      NaN   1.0   1.0
5146300   67073090       I10      NaN   1.0   1.0
5146301   67073090       I10      NaN   1.0   1.0
5146302   67073090       I10      NaN   1.0   1.0
5146303   67073090       I10      NaN   1.0   1.0

[5146304 rows x 5 columns]

In [11]:
from google.colab import files
t2.to_csv('t3.csv', sep=',', na_rep='NaN')
files.download('t3.csv')

In [ ]:
for i in ['03','04','05','06','07','08','09','10','11','12','13']:
  file_dicts = [{'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/02.T120/nhis_senior_gy20_t1_20'+i+'.sas7bdat','export_file': 'nhis_senior_gy20_t1_temp.csv'}]
  sas7bdat_converter.batch_to_csv(file_dicts)
  t_temp = pd.read_csv('nhis_senior_gy20_t1_temp.csv')
  t_temp = t_temp[['PERSON_ID', 'MAIN_SICK', 'SUB_SICK', 'RECN', 'VSCN']]
  t2 = pd.concat([t2,t_temp])
  print(len(t2))

In [ ]:
t_total1 = pd.concat([t2,t3,t4,t5,t6,t7])
print(t_total1)

In [ ]:
print('열의 개수: ',len(t_total1.columns))
print(t_total1.columns)

In [ ]:
t_filtered1 = t_total1[[]]

In [ ]:
file_dicts2 = [
  {
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/02.T120/nhis_senior_gy20_t1_2006.sas7bdat',
    'export_file': 'nhis_senior_gy20_t1_2006.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/02.T120/nhis_senior_gy20_t1_2007.sas7bdat',
    'export_file': 'nhis_senior_gy20_t1_2007.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/02.T120/nhis_senior_gy20_t1_2008.sas7bdat',
    'export_file': 'nhis_senior_gy20_t1_2008.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/02.T120/nhis_senior_gy20_t1_2009.sas7bdat',
    'export_file': 'nhis_senior_gy20_t1_2009.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/02.T120/nhis_senior_gy20_t1_2010.sas7bdat',
    'export_file': 'nhis_senior_gy20_t1_2010.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/02.T120/nhis_senior_gy20_t1_2011.sas7bdat',
    'export_file': 'nhis_senior_gy20_t1_2011.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/02.T120/nhis_senior_gy20_t1_2012.sas7bdat',
    'export_file': 'nhis_senior_gy20_t1_2012.csv'},{
    'sas7bdat_file': '/gdrive/My Drive/Disease Prediction/02.T120/nhis_senior_gy20_t1_2013.sas7bdat',
    'export_file': 'nhis_senior_gy20_t1_2013.csv'
    }
]
sas7bdat_converter.batch_to_csv(file_dicts2)

2020-12-23 04:53:58,431: INFO: NumExpr defaulting to 2 threads.

In [ ]:
t2=pd.read_csv('nhis_senior_gy20_t1_2002.csv')
t3=pd.read_csv('nhis_senior_gy20_t1_2003.csv')
t4=pd.read_csv('nhis_senior_gy20_t1_2004.csv')
t5=pd.read_csv('nhis_senior_gy20_t1_2005.csv')
t6=pd.read_csv('nhis_senior_gy20_t1_2006.csv')
t7=pd.read_csv('nhis_senior_gy20_t1_2007.csv')
t8=pd.read_csv('nhis_senior_gy20_t1_2008.csv')
t9=pd.read_csv('nhis_senior_gy20_t1_2009.csv')
t10=pd.read_csv('nhis_senior_gy20_t1_2010.csv')
t11=pd.read_csv('nhis_senior_gy20_t1_2011.csv')
t12=pd.read_csv('nhis_senior_gy20_t1_2012.csv')
t13=pd.read_csv('nhis_senior_gy20_t1_2013.csv')

In [ ]:
t_total = pd.concat([t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13])
print(t_total)

In [ ]:
print('열의 개수: ',len(t_total.columns))
print(t_total.columns)